---
import Layout from "@layouts/Default.astro";
import { site, contactItems } from "@i18n/ui.ts";
import { useTranslation } from "@i18n/utils.ts";

const t = useTranslation(Astro.currentLocale);
---

<Layout title={t("user.role")}>
	<section class="mb-12" id="hero">
		<div class="">
			<h1 class="font-title font-bold">
				<span class="text-3xl text-stone-500">
					{site.user}<br />
				</span>
				<span class="text-4xl">
					{t("user.role")}
				</span>
			</h1>
			<div class="text-lg" set:html={t("hero.content")} />
		</div>
	</section>

	<section class="mb-12" id="about">
		<h2 class="font-title font-bold text-2xl">{t("about.title")}</h2>
		<div class="text-lg *:mb-4" set:html={t("about.content")} />
	</section>

	<section id="contact" class="mb-12">
		<h2 class="font-title font-bold text-2xl">{t("contact.title")}</h2>
		<div class="text-lg" set:html={t("contact.content")} />
		<ul class="mt-4 space-y-2">
			{
				contactItems.map((item) => (
					<li>
						<a
							class="inline-flex gap-1 items-base text-blue-500"
							href={item.link}
							target="_blank"
							rel="noopener noreferrer"
						>
							<span>
								<item.icon />
							</span>
							<span class="font-medium text-xl">{item.name}</span>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</Layout>
