---
import Layout from "@layouts/Default.astro";
---

<Layout title="Frontend Developer">
	<h1 class="font-title text-2xl">Mario Abreu - Frontend Developer</h1>
	<p class="text-lg">
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, illo!
	</p>
</Layout>
