---
interface Props {
  title?: string;
}

import { defaultLang as defaultLocale, site } from "@i18n/ui.ts";
import { useTranslation } from "@i18n/utils.ts";

const currentLocale = Astro.currentLocale || defaultLocale;
const t = useTranslation(currentLocale);

const { title = "" } = Astro.props;
const currentPath = Astro.url.pathname;
---

<header id="header">
  <div class="max-w-5xl mx-auto px-4 py-6 lg:px-0">
    <div class="md:flex justify-between items-end gap-4">
      <a href={currentLocale === defaultLocale ? "/" : "/en"}>
        <h1 class="font-title font-bold">
          <span class="text-2xl lg:text-3xl">
            {site.user}<br />
          </span>
          <span class="text-2xl lg:text-4xl text-cyan-500">
            {t("user.role")}
          </span>
        </h1>
      </a>
      <h2 class="font-bold lg:text-3xl">{title}</h2>
      <div class="font-bold min-w-fit">
        <a
          class="text-amber-400 hover:opacity-100"
          class:list={[
            {
              "text-stone-600 pointer-events-none":
                currentLocale === defaultLocale,
            },
          ]}
          href={currentPath.replace("/en", "")}>Es</a
        > |
        <a
          class="text-cyan-400 hover:opacity-100"
          class:list={[
            {
              "text-stone-600 pointer-events-none":
                currentLocale !== defaultLocale,
            },
          ]}
          href=`/en${currentPath}`>En</a
        >
      </div>
    </div>
  </div>
</header>
