---
import { getCollection, render } from "astro:content";
import Layout from "@layouts/Project.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
const images = post.data.images || [];
---

<Layout title={post.data.title}>
  <div class="content *:[p+p]:mt-6 *:text-lg">
    <Content />

    <div class="grid grid-cols-3 gap-4 mt-8">
      {
        images.map((image) => (
          <img
            src={image}
            alt={post.data.title}
            class="w-full h-auto rounded"
          />
        ))
      }
    </div>
  </div>
</Layout>
